.App {
  text-align: center;
  font-family: Abel-Regular;
}

.Nav {
  margin-left: 10%;
  margin-right: 10%;
  text-decoration: none;
  color: red;
}

.Nav:hover {
  color: yellow;
}

@font-face {
  font-family: Abel-Regular;
  src: url('./fonts/Abel-Regular.woff');
}